# Visual Studio
[Dd]ebug/
[Rr]elease/
x64/

*.opensdf
*.sdf
*.user
*.suo

# Xcode and OS X 
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
contents.xcworkspacedata
Debug/
Release/
.DS_Store
.Trashes

.settings/
autom4te.cache/
aclocal.m4
build-*/
config.*
configure
compile
COPYING
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
.deps/
.libs/
*.la
*.lo
*.o
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
